# Database Configuration
DATABASE_URL="postgresql://username:password@ep-little-field-ayjd76w0-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# JWT Authentication Secrets
JWT_ACCESS_SECRET="your_jwt_access_secret_hash_here"
JWT_REFRESH_SECRET="your_jwt_refresh_secret_hash_here"
